.page {
  padding: 40px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
}

/* FILTER */
.filters {
  margin-bottom: 25px;
}

.filters button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 20px;
}

.active {
  background: #2ecc71;
  color: white;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.1);
}

/* OVERLAY */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.modal p {
  color: white;
  margin-top: 10px;
}